body {
    font-family: 'Poppins', sans-serif;
}

.bggradient {
    background: linear-gradient(180deg, #0B031C 0%, #1A0B3D 50%, #2D1B69 100%);
}

.bgnavbar {
    background-color:#26233D;
}

.btngradient{
background: linear-gradient(90deg, #555, #aaa, #555);
}

.w48{
    width:48px;
}

.dim_icon{
    width: 100px; 
    height:100px;
} 

.dimarrow{
    width:45px; 
    height:67px;
}

.skills_gap{
    gap: 100px;
}