body {
    font-family: 'Poppins', sans-serif;
}

.contact-button {
    background: linear-gradient(90deg, #555, #aaa, #555);
    background-size: 200% 100%;
    border-radius: 50px;
    padding: 2px; /* Epaisseur du dégradé */
}

.contact-button .button-content {
    background: #333; /* Fond du bouton */
    border-radius: 50px;
    color: white;
}

.contact-button:hover {
    background-position: 100% 0;
    transition: background-position 0.3s;
}

.hero-section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(180deg, #0B031C 0%, #1A0B3D 50%, #2D1B69 100%);
}

.hero-section::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        180deg,
        rgba(11, 3, 28, 0.9) 0%,
        rgba(26, 11, 61, 0.7) 50%,
        rgba(45, 27, 105, 0.9) 100%
    );
    filter: blur(120px);
    z-index: -1;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    border: none !important;
}